body {
	min-height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	padding: 1.5rem;
}

.sr-only {
	position: absolute;
	width: 0;
	height: 0;
	scale: 0;
}

.grid {
	display: grid;
	border-radius: 0.5rem;
	overflow: hidden;
	max-width: 980px;
}

.grid__article {
	padding: 3rem;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.grid__article:nth-of-type(1) {
	background-color: hsl(31, 77%, 52%);
}

.grid__article:nth-of-type(2) {
	background-color: hsl(184, 100%, 22%);
}

.grid__article:nth-of-type(3) {
	background-color: hsl(179, 100%, 13%);
}

.article__img {
	margin-bottom: 1.75rem;
}

.article__heading {
	margin-bottom: 1.5rem;
	font-size: 2.75em;
	text-transform: uppercase;
	color: hsl(0, 0%, 95%);
	font-family: "Big Shoulders Display", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.article__text {
	margin-bottom: 1.5rem;
	font-size: 1em;
	color: hsla(0, 0%, 100%, 0.75);
	font-family: "Lexend Deca", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

.article__link {
	margin-top: 1.5rem;
	text-decoration: none;
	padding: 0.75rem 1.75rem;
	border-radius: 2rem;
	border: 4px solid hsl(0, 0%, 95%);
	background-color: hsl(0, 0%, 95%);
	font-family: "Lexend Deca", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	transition: background-color 0.25s ease, color 0.25s ease;
}

.grid__article:nth-of-type(1) .article__link {
	color: hsl(31, 77%, 52%);
}

.grid__article:nth-of-type(1) .article__link:hover {
	color: hsl(0, 0%, 95%);
	background-color: hsl(31, 77%, 52%);
}

.grid__article:nth-of-type(2) .article__link {
	color: hsl(184, 100%, 22%);
}

.grid__article:nth-of-type(2) .article__link:hover {
	color: hsl(0, 0%, 95%);
	background-color: hsl(184, 100%, 22%);
}

.grid__article:nth-of-type(3) .article__link {
	color: hsl(179, 100%, 13%);
}

.grid__article:nth-of-type(3) .article__link:hover {
	color: hsl(0, 0%, 95%);
	background-color: hsl(179, 100%, 13%);
}

.attribution {
	font-size: 14px;
	text-align: center;
	font-family: "Lexend Deca", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 720px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid__article {
		padding: 3.25rem;
	}

	.article__text {
		font-size: 1.1em;
		margin-bottom: 4rem;
	}
}
